body {
    margin: 0;
}

.textfield {
    border-radius: 6px;
    margin: 8px;
    padding: 4px 8px;
    border: solid 1px black;
}

button {
    padding: 4px 16px;
    border-radius: 6px;
    border: none;
    background-color: aquamarine;
}

section {
    width: 100%;
    display: flex;
    padding: 20px 16px;
    gap: 16px;
    border-top: 1px solid black;
}

article {
    padding: 8px;
    text-align: center;
    width: 300px;
    border-radius: 6px;
    box-shadow: 0 0 30px black;
}

article img {
    width: 100%;
}